div.jumbotron.text-center
  h2 NPM-inspired Golang Package Manager for Rockstars
  img(src="//www.musicmonks.com/wp-content/uploads/2012/05/axl-rose-american-flag-pants.jpg")

  h1 Popular Packages
  ul
    li(ng-repeat="project in popular.data")
      | {{ project.project }} ({{project.data.downloads}})