div.container
  h1 {{project.name}}
  hr
  div
    b Description
    div {{project.data.description}}
  div
    b Maintainers: &nbsp;
    div(ng-repeat="maintainer in project.data.maintainers")
      | {{maintainer.username}}
  div
    b(ng-if="project.releases.length > 0")
      | Latest Release: {{project.releases[project.releases.length - 1]}}
  div
    b Downloads: &nbsp;
      | {{ project.downloadsCount }}
  div(ng-if="project.releases.length > 0")
    div(ng-repeat="release in releases")
      a(ng-href="{{release.download}}")
        | {{release.version}} released on {{release.createdAt | date:'yyyyMMdd'}}